[submodule "mods/adams_mod"]
	path = mods/adams_mod
	url = https://github.com/adamwong246/AdamsMod.git
[submodule "mods/desire_paths"]
	path = mods/desire_paths
	url = https://github.com/adamwong246/Desire-Paths.git
[submodule "mods/short_reach"]
	path = mods/short_reach
	url = https://github.com/adamwong246/ShortReach.git
[submodule "mods/chernobyl"]
	path = mods/chernobyl
	url = https://github.com/adamwong246/chernobyl.git
[submodule "mods/no_free_lunch"]
	path = mods/no_free_lunch
	url = https://github.com/adamwong246/no_free_lunch.gitto
[submodule "mods/science_packs_go_bad"]
	path = mods/science_packs_go_bad
	url = https://github.com/adamwong246/science_packs_go_bad.git
[submodule "mods/power_ranger"]
	path = mods/power_ranger
	url = https://github.com/adamwong246/power_ranger.git
[submodule "mods/things_fall_apart"]
	path = mods/things_fall_apart
	url = git@github.com:adamwong246/things_fall_apart.git
[submodule "mods/toxic_waste"]
	path = mods/toxic_waste
	url = https://github.com/adamwong246/toxic_waste.git
[submodule "mods/better_booms"]
	path = mods/better_booms
	url = https://github.com/adamwong246/better_booms.git
[submodule "mods/PowerOverload"]
	path = mods/PowerOverload
	url = git@github.com:adamwong246/PowerOverload.git
[submodule "mods/AbandonedRuins-Krastorio2"]
	path = mods/AbandonedRuins-Krastorio2
	url = git@github.com:Bilka2/AbandonedRuins-Krastorio2.git
[submodule "mods/vonNeuman"]
	path = mods/vonNeuman
	url = git@github.com:abaines/Von-Neumann.git
