[submodule "mods/AdamsMod"]
	path = mods/AdamsMod
	url = https://github.com/adamwong246/AdamsMod.git
[submodule "mods/Desire-Paths"]
	path = mods/Desire-Paths
	url = https://github.com/adamwong246/Desire-Paths.git
[submodule "mods/ShortReach"]
	path = mods/ShortReach
	url = https://github.com/adamwong246/ShortReach.git
